<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Теги</h5>
        <div class="card-body">
            <div class="d-flex flex-wrap">
                {% for tag in common_tags %}
                    <a href="{% url 'tag' tag.slug %}" class="m-2 h5">#{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Последние статьи</h5>
        {% for pt in last_posts %}
        <div class="card-body">
            <h5 class="card-title">{{ pt.h1 }}</h5>
            <img class="card-img-top" alt="" src="{{ pt.image.url }}">{{ pt.description|safe|truncatechars:100 }}</img>
            <a href="{% url 'detail_post' %}" class="card-link">Ссылка на статью</a>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>